<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html,body,all
{
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map_canvas
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 64px;
}

#options
{
   position: absolute;
   width:100%;
   header: 64px;
}

#settings
{
  position: absolute;
  padding-left: 4px;
  padding-top: 2px;
  margin: 0;
  left: 0px;
}

#adsense
{
  position: absolute;
  right:0px;
}

#go_status
{
  display: inline;
  color: red;
}

#loading 
{
  position: absolute;
  width: 48px;
  left:380px;
  display: none;
}  

/* styling for running/ not running overlay */
.running_overlay_details {
  position:absolute;
  top:15px;
  left:15px;
  font-size:14px;
  color:#fff;
}

.running_overlay_details h3 {
  color:#aba;
  font-size:15px;
  margin:0 0 -10px 0;
}

/* the overlayed element */
.running_overlay {
  /* initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10000;

  /* styling */
  background-color:#333;

  width:150px;

  min-height:100px;
  border:1px solid #666;

  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.running_overlay .close {
  background-image:url('/static/close.png');
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}



</style>
<script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<link type="text/css" href="/static/lib/jquery-ui-1.8.5.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/static/lib/jquery-ui-1.8.5.custom.min.js"></script>
<script type="text/javascript" src="/static/lib/ui.geo_autocomplete.js"></script>
<script type="text/javascript">

   moved_from_defaults = !{{should_recenter}};

   var n_loading = 0;
   function start_loading() {
     if (n_loading == 0) {
       $("#loading").show();
     }
     n_loading += 1;     
   }
   function stop_loading() {
     n_loading -= 1;
     if (n_loading == 0) {
       $("#loading").hide();
     }
   }

   var running = true;

   var default_path_opacity = 0.5;
   var active_path_opacity = 1.0;

   // route ->
   //  path_cache -> direction -> paths[points[]]
   //  path_lines -> direction -> polylines[]
   //  bus_cache -> [last update, businfo]
   //  stops[]
   //  buses[]
   var routes = new Object();

   times_info_window = new google.maps.InfoWindow({
     content: "not set yet"
   });
   window.times_info_window = times_info_window;


   var image_cache = new Object(); // heading -> marker

   var current_colored_path = null;


   /* all this Overlay stuff is to get projections */
   /* from: http://stackoverflow.com/questions/1538681/how-to-call-fromlatlngtodivpixel-in-google-maps-api-v3 */
   function MyOverlay(options) {
      this.setValues(options);
      var div = this.div_= document.createElement('div');
      div.className = "overlay";
   };
   MyOverlay.prototype = new google.maps.OverlayView;
   MyOverlay.prototype.onAdd = function() { var pane = this.getPanes().overlayLayer; pane.appendChild(this.div_); }
   MyOverlay.prototype.onRemove = function() { this.div_.parentNode.removeChild(this.div_); }
   MyOverlay.prototype.draw = function() {}

   function merge_stop_predictions(map) {
     var OverLayMap = new MyOverlay( { map: map } );

     stop_markers = [];
     for (route in routes) {
       for (stop_no in routes[route].stops) {
         stop_markers.push(routes[route].stops[stop_no]);
       }
     }

     for (i in stop_markers) {
        stop_markers[i].titles = [];
        stop_markers[i].stop_tags = [stop_markers[i].stop_tag];
     }

     var p = OverLayMap.getProjection();
     if (p == undefined) {
        return;
     }


     function pixel_distance(marker_i, marker_j) {
        var p_i = p.fromLatLngToDivPixel(marker_i.getPosition());
        var p_j = p.fromLatLngToDivPixel(marker_j.getPosition());

        return distance(p_i.x, p_i.y, p_j.x, p_j.y);
     }

     for (i in stop_markers) {
        for (j in stop_markers) {
           if (i > j) {
               var stop_i = stop_markers[i];
               var stop_j = stop_markers[j];
               var pd = pixel_distance(stop_i, stop_j);
               if (pd < 5*5) {
                   if (stop_i.title != stop_j.title) {
                      if ($.inArray(stop_j.title, stop_i.titles) == -1) { stop_i.titles.push(stop_j.title); }
                      if ($.inArray(stop_i.title, stop_j.titles) == -1) { stop_j.titles.push(stop_i.title); }
                   }
                   if ($.inArray(stop_j.stop_tag, stop_i.stop_tags) == -1) { stop_i.stop_tags.push(stop_j.stop_tag); }
                   if ($.inArray(stop_i.stop_tag, stop_j.stop_tags) == -1) { stop_j.stop_tags.push(stop_i.stop_tag); }
                   //console.debug("merged " + stop_j.title + " and " + stop_i.title + " (" + pd + ")");
               }
            }
         }
      }
   }


   function get_color(active, route) {
      colors = {"Red": {"active": "#CC0000",
                        "inactive": "#FF0000"},
                "Orange": {"active": "#FF7700",
                           "inactive": "#FF5500"},
                "Blue": {"active": "#0000CC",
                         "inactive": "#1900FF"},
                "Bus": {"active": "#B404AE",
                        "inactive": "#FE2EF7"}}
      if (route in colors) { return colors[route][active]; }
      else { return colors["Bus"][active]; }
   }


   function is_subway(route) {
     return route == "Red" || route == "Blue" || route == "Orange";
   }

   var bus_times_markers = [];
   var cur_bus_times_info = {};
   function draw_bus_times(route, bus_id, map) {
     /* remove previous markers if any */
     while (bus_times_markers.length > 0) {
        bus_times_markers.pop().setMap(null);
     }

     if (route == null || !(route in routes)) {
        cur_bus_times_info = {};
        return;
     }

     cur_bus_times_info = {route: route, bus_id: bus_id, map: map};


     start_loading();
     /* write new markers */
     $.getJSON('/Buses?route=' + route + '&bus_id=' + bus_id, function(buses) {
        stop_loading();
        /* don't update if they've asked for something else in the mean time */
        if (route != cur_bus_times_info.route ||
            bus_id !=  cur_bus_times_info.bus_id) {
          return;
        }
      
        for (bus_no in buses) {
          var up = buses[bus_no].up;
          for (stop_tag in up) {
             var stop_min = up[stop_tag]; 
             if (route in routes && stop_tag in routes[route].stops) {
                var smarker = routes[route].stops[stop_tag];
                var btmarker = new google.maps.Marker({
                   position: smarker.position,
                   icon: load_time_image(stop_min),
                   map: map});
                btmarker.setZIndex(1200-stop_min);
                bus_times_markers.push(btmarker);
             }
          }
        }
     });
   }

   function color_paths(route, direction)
   {
      if (current_colored_path)
      {
         color_path(current_colored_path[0],
                    current_colored_path[1],
                    get_color("inactive", current_colored_path[0]),
                    default_path_opacity);
      }
      if (route != null) {
        color_path(route, direction, get_color("active",route), active_path_opacity);
        current_colored_path = [route, direction];
      }
      else {
        current_colored_path = [];
      }
   }




   function color_path(route, direction, color, opacity)
   {
      if (!(route in routes) || !("path_lines" in routes[route]) || !(direction in routes[route].path_lines))
      {
         return
      }
      var paths = routes[route].path_lines[direction];

      for (path_no in paths)
      {
         paths[path_no].setOptions({
               "strokeColor" : color,
               "strokeOpacity": opacity
                  });
      }
   }




   function load_time_image(nmin) {
     if (image_cache["min" + nmin] == null) {
        image_cache["min" + nmin] = new google.maps.MarkerImage(
           "static/min" + nmin + ".png",
           new google.maps.Size(78, 42), // size
           new google.maps.Point(0, 0), // origin
           new google.maps.Point(0, 42) //anchor
        );
     }
     return image_cache["min" + nmin];
   }

   var stop_image = new google.maps.MarkerImage(
       "static/rmark.png",
       new google.maps.Size(8, 8), // size
       new google.maps.Point(0, 0), // origin
       new google.maps.Point(4, 4) //anchor
   );

   function curtime() {
      return (new Date()).getTime()/1000;
   }

   function load_heading_image(heading) {
      if (image_cache[heading] == null) {
         image_cache[heading] = new google.maps.MarkerImage(
            "static/dir_" + heading + ".png",
            new google.maps.Size(16, 16), // size
            new google.maps.Point(0, 0), // origin
            new google.maps.Point(8, 8) //anchor
         );
      }
      return image_cache[heading];
   }

   var max_lat = null;
   var min_lat = null;
   var max_lng = null;
   var min_lng = null;

   function distance(x1,y1,x2,y2) {
     // really distance squared, but no one cares
     return (x1-x2)*(x1-x2) + (y1-y2)*(y1-y2);
   }

   function closest_point_on_line(x1, y1, x2, y2, x3, y3) {
      // from http://local.wasp.uwa.edu.au/~pbourke/geometry/pointline/
      var u = ((x3-x1)*(x2-x1) + (y3-y1)*(y2-y1)) / distance(x1, y1, x2, y2);

      if (u < 0 || u > 1) {
         // use one of the ends
         if (distance(x1,y1,x3,y3) > distance(x2,y2,x3,y3)) {
             return [x2,y2];
         }
         else {
             return [x1,y1];
         }
      }
      else {
        // use a point on the line

        var x4 = x1 + u*(x2 - x1);
        var y4 = y1 + u*(y2 - y1);

        return [x4,y4];
      }
   }

   function distance_to_line(x1, y1, x2, y2, x3, y3) {
      var cpol = closest_point_on_line(x1, y1, x2, y2, x3, y3);
      return distance(cpol[0], cpol[1], x3, y3);
   }


   function snap_to_path(route, dir, lat, lon) {
     var best_line = null;
     var best_dist = null;

     if (!(route in routes) || !("path_cache" in routes[route]) || !(dir in routes[route].path_cache)) {
        return [lat, lon];
     }

     // only consider paths for this route in this direction
     var paths = routes[route].path_cache[dir];

     for (path_no in paths) {
        for (point_no in paths[path_no]) {
           if (point_no > 0) {
              var p_i = paths[path_no][point_no-1];
              var p_j = paths[path_no][point_no];
              var dist = distance_to_line(p_i.lat, p_i.lon, p_j.lat, p_j.lon, lat, lon);
              if (best_line == null || dist < best_dist) {
                 best_line = [p_i.lat, p_i.lon, p_j.lat, p_j.lon];
                 best_dist = dist;
              }
           }
        }
     }

     if (best_line == null || (best_dist > .00001 && !is_subway(route))) {
        // if we failed to find a good line, or if we'd be adjusting too far, do nothing
        return [lat,lon];
     }
     return closest_point_on_line(best_line[0], best_line[1],
                                  best_line[2], best_line[3],
                                  lat, lon);
   }

   function estimate_pos(age_i, age_j, req_time, l_i, l_j, t_k) {
     var t_i = req_time - age_i;
     var t_j = req_time - age_j;

     if (Math.abs(l_i - l_j) < .00001 || t_i == t_j) {
        return l_j;
     }

     var l_k = l_j + (t_k-t_j)*(l_j-l_i)/(t_j-t_i);
     return l_k;
   }


   function update_bounds(lat, lng) {
     if (max_lat == null || lat > max_lat ) { max_lat = lat; }
     if (min_lat == null || lat < min_lat ) { min_lat = lat; }

     if (max_lng == null || lng < max_lng ) { max_lng = lng; }
     if (min_lng == null || lng > min_lng ) { min_lng = lng; }
   }

   function initialize() {
    var latlng = new google.maps.LatLng({{initial_lat}}, {{initial_lon}});
    var myOptions = {
      zoom: {{initial_zoom}},
      center: latlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    function recenter () {
       if (max_lat != null && min_lat != null && max_lng != null && min_lng != null) {
          var sw = new google.maps.LatLng(min_lat, max_lng);
          var ne = new google.maps.LatLng(max_lat, min_lng);
          map.fitBounds(new google.maps.LatLngBounds(sw, ne));
       }
    }

    function get_bus_position(bus, route, t_now, timestamp)
    {
       if ($("#est").attr("checked")) {
          lat = estimate_pos(bus.age_i, bus.age_j, timestamp, bus.lat_i, bus.lat_j, t_now);
          lon = estimate_pos(bus.age_i, bus.age_j, timestamp, bus.lon_i, bus.lon_j, t_now);
       }
       else
       {
          lat = bus.lat_j;
          lon = bus.lon_j;
       }

       if ($("#snap").attr("checked")) {
         cpol = snap_to_path(route, bus.dir, lat, lon);
         lat = cpol[0];
         lon = cpol[1];
       }

       return [lat, lon]
    }

    function plot_buses(map, busarr, route) {

       if (!(route in routes) || !("bus_cache" in routes[route])) {
          return;
       }

       timestamp = routes[route].bus_cache[0];
       buses = routes[route].bus_cache[1];

       if (!buses || !busarr) {
         return;
       }


       for (bus_no in buses) {
          var bus = buses[bus_no];
          var busid = route + ":" + bus.dir + ":"+ bus.id;
          var bus_title = busid + " -- age " + bus.age_j;

          var t_now = curtime();
          var lat_lon = get_bus_position(bus, route, t_now, timestamp);
          var lat_lon_1 = get_bus_position(bus, route, t_now+5, timestamp);

          if (true)
          {
             // update heading
             var delta_lat = lat_lon_1[0] - lat_lon[0];
             var delta_lon = lat_lon_1[1] - lat_lon[1];
             if (Math.abs(delta_lat) > 0.000001 && Math.abs(delta_lon) > 0.000001)
             {
                var theta_r = Math.atan2(delta_lon,delta_lat);
                var theta_d = (180*theta_r/Math.PI+360)%360;

                // round to the nearest 3 degrees
                bus.rhead = Math.round((Math.round(theta_d))/3)*3;
             }
             else {
                bus.rhead = 0;
             }
          }

          var blatlng = new google.maps.LatLng(lat_lon[0], lat_lon[1]);

          function make_marker(bus_id)
          {
             var bmarker = new google.maps.Marker({
                   position: blatlng,
                   bus_id: bus_id,
                   title:bus_title + " (new)",
                   });
             bmarker.setZIndex(999);
             bmarker.setMap(map);
             google.maps.event.addListener(bmarker, "mouseover", function() {
                color_paths(bmarker.bus_route, bmarker.bus_direction);
             });
             google.maps.event.addListener(bmarker, "click", function() {
                 times_info_window.close(); 
                 draw_bus_times(route, bmarker.bus_id, map);
             });
             google.maps.event.addListener(bmarker, "mouseout", function() {
                color_paths(null,null);
             });
             return bmarker;

          }

          if (!(busid in busarr)) {
             busarr[busid] = make_marker(bus.id);
          }

          busarr[busid].setIcon(load_heading_image(bus.rhead));
          busarr[busid].setPosition(blatlng);
          busarr[busid].setTitle(bus_title);
          busarr[busid].bus_route = route;
          busarr[busid].bus_direction = bus.dir;
       }
    }

    function update_route_buses(route) {
         $.getJSON('/Buses?route=' + route, function(buses) {
            routes[route].bus_cache = [curtime(), buses];
         });
    }

    function update_buses() {
       for (route in routes) {
          update_route_buses(route);
       }
    }

    function plot_continual() {
       if (running) {
          for (route in routes) {
                plot_buses(map, routes[route].buses, route);
          }
       }
    }

    function update_continual() {
        if (running) {
          update_buses();
        }
    }

    function update_bus_times_continual() {
       if (running) {
          if (cur_bus_times_info != {}) {
             draw_bus_times(cur_bus_times_info.route,
                            cur_bus_times_info.bus_id,
                            cur_bus_times_info.map);
          }
       }
    }

    function draw_buses_continual(map) {
      update_continual();
      plot_continual();

      setInterval( plot_continual, 500);

      setInterval(function() {
          if (running) {
            running = false;
            $("#running_overlay").overlay().load();
          }
      }, 5*60*1000);

      setInterval( update_continual, 15000);

      setInterval( update_bus_times_continual, 10001 );
    }

    function draw_direction(route, direction, map, opacity, weight)
    {
       var paths = routes[route].path_cache[direction];

       for (path_no in paths) {
          var coords = new Array();
          for (point_no in paths[path_no]) {
             var point = paths[path_no][point_no];
             update_bounds(point.lat, point.lon);
             coords.push( new google.maps.LatLng(point.lat, point.lon) );
          }

          var buspath = new google.maps.Polyline({
            path: coords,
                strokeColor: get_color("inactive",route),
                strokeOpacity: opacity,
                strokeWeight: weight
                });

          buspath.setMap(map);

          routes[route].path_lines[direction].push(buspath);
       }
    }

    function undraw_route(map, route) {
      for (direction in routes[route].path_lines) {
        for (line_no in routes[route].path_lines[direction]) {
          pline = routes[route].path_lines[direction][line_no];
          pline.setMap(null);
          delete routes[route].path_lines[direction][line_no];
        }
        delete routes[route].path_lines[direction];
      }
      delete routes[route].path_lines;
      delete routes[route].path_cache;
      for (bus_no in routes[route].buses) {
        routes[route].buses[bus_no].setMap(null);
        delete routes[route].buses[bus_no];
      }
      delete routes[route].buses;
      for (stop_no in routes[route].stops) {
        routes[route].stops[stop_no].setMap(null);
        delete routes[route].stops[stop_no];
      }
      delete routes[route].stops;
    }
    function draw_route(map, route, should_recenter) {
         routes[route].path_cache = {};
         routes[route].path_lines = {};
         routes[route].buses = [];
         routes[route].stops = {};
         $.getJSON('/Paths?route=' + route, function(r) {

            var opacity = default_path_opacity;
            var weight = 3.0;

            routes[route].path_cache = r.directions;

            for (direction in routes[route].path_cache)
            {
               routes[route].path_lines[direction] = new Array();
               draw_direction(route, direction, map, opacity, weight);
            }

            if (should_recenter) {
              recenter();
            }


            {% if stops %}
              function plot_stop(stop)
              {
                 var slatlng = new google.maps.LatLng(stop.lat, stop.lon);

                 var smarker = new google.maps.Marker({
                    position: slatlng,
                    title: stop.title,
                    titles: [],
                    stop_tag: stop.tag,
                    stop_tags: [stop.tag],
                    icon: stop_image,

                    map: map
                 });

                 routes[route].stops[stop.tag] = smarker;

                 google.maps.event.addListener(smarker, "click", function() {
                    draw_bus_times(null, null, null); // hide bus time markers

                    t = "<h3>" + stop.title;
                    for (title_no in smarker.titles) {
                       t += " / " + smarker.titles[title_no];
                    }
                    t += "</h3>";

                    var all_arrivals = new Array();
                    var errors = new Array();

                    t += "<table border=\"0\">";

                    times_info_window.setContent(t + "<tr><td><tt>[loading ...]</tt></table>");
                    times_info_window.open(map,smarker);

                    function update_arrivals(arrival_info) {

                         var arrival_status = arrival_info[0];
                         var arrivals = arrival_info[1];
                         var stop_tag = arrival_info[2];

                         if (arrival_status == "error") {
                             errors.push([stop_tag, "Predictions unavailable"]);
                         }
                         else if (arrival_status == "none") {
                             //errors.push([stop_tag, "No predicted service"]);
                         }
                         else {
                             for (arrival_no in arrivals)
                             {
                                all_arrivals.push([arrivals[arrival_no][0],
                                                   arrivals[arrival_no][1],
	                                           arrivals[arrival_no][2],
                                                   arrivals[arrival_no][3]]);
                             }
                         }

                         all_arrivals.sort(function(a,b) {
                            return a[0]-b[0];
                         });

                         var temp_t = t;

                         for (all_arrival_no in all_arrivals) {
                            var minutes = all_arrivals[all_arrival_no][0];
                            var route = all_arrivals[all_arrival_no][1];
                            var title = all_arrivals[all_arrival_no][2];
                            var tag = all_arrivals[all_arrival_no][3];

                            if (minutes == "0") { minutes = "nowish"; }
                            else { minutes += "min" ; }

                            temp_t += "<tr><td align=\"right\">" + minutes +
                              ":</td><td><a href=\"/?route="
                                  + tag + "\" onclick=\"window.enable_route("+tag+", false); window.times_info_window.close(); return false;\">"
                                  + route + "</a> "
                                  + title + "</td></tr>";
                         }

                         for (error_no in errors) {
                            temp_t += "<tr><td>Stop " + errors[error_no][0] + ":<td>" + errors[error_no][1];
                         }

                         times_info_window.setContent(temp_t + "</table>");
                         times_info_window.open(map,smarker);
                    }

                    for (tag_no in smarker.stop_tags) {
                       start_loading();
                       $.getJSON('/Arrivals?stop=' + smarker.stop_tags[tag_no], function(arrival_info) {
                          update_arrivals(arrival_info);
                          stop_loading();
                       });
                    }
                 });
              }

              for (stop_no in r.stops) {
                 plot_stop(r.stops[stop_no]);
              }

              merge_stop_predictions(map);

            {% endif %}

            stop_loading();
         });

    }

    $("#route_adder").change(enable_route_from_event);
    $("#route_deler").change(disable_route_from_event);
                         
    function reload_selects() {

      start_loading();
      $.getJSON("/Routes", function(route_names) {

        b = map.getBounds();

        var north = b.getNorthEast().lat();
        var east = b.getNorthEast().lng();
        var south = b.getSouthWest().lat();
        var west = b.getSouthWest().lng();

        var locString = "north="+north+"&east="+east+"&west="+west+"&south="+south;

        $.getJSON("/RoutesInView?"+locString, function(visible_route_ids) {
  
          $('#route_adder').find('option').remove().end().append(
               '<option value"">Add Route</option>');
          $('#route_deler').find('option').remove().end().append(
               '<option value"">Remove Route</option>');

          for (route_no in route_names) {
             route_id = route_names[route_no][0];
             route_displayname = route_names[route_no][1];
  
             use_box = "#route_adder";
             if (route_id in routes) {
                use_box = "#route_deler";
             }
             else if ($.inArray(route_id, visible_route_ids) == -1) {
                use_box = null;
             }
              
             if (use_box != null) {
               $(use_box).append('<option value="' + route_id + '">' +
                   route_displayname + '</option>');
             }
          }
          stop_loading();
        });
      });
    }

    function disable_route_from_event(event) {
       disable_route($('#route_deler').val());
    }
               
    function enable_route_from_event(event) {
       /* recenter if never moved from default */
       enable_route($('#route_adder').val(), !moved_from_defaults);
    }

    function disable_route(route) {
      if (route == undefined || !(route in routes)) {
         return;
      }
      undraw_route(map, route);
               
      delete routes[route];
      reload_selects();

      draw_bus_times(cur_bus_times_info.route,
                     cur_bus_times_info.bus_id,
                     cur_bus_times_info.map);
      generate_page_url();
    }
               
    function enable_route(route, should_recenter) {
      if (route == undefined || route in routes) {
         return;
      }

      start_loading();

      routes[route] = {};
      draw_route(map, route, should_recenter);
      plot_buses(map, routes[route].buses, route);
      reload_selects();
      generate_page_url();
    }

    function generate_page_url() {
      gen = "/?z=" + map.getZoom() + "&ll=" + map.getCenter().toUrlValue(10);
      r = ""
      for (route_id in routes) {
        if (r == "") {
          r = route_id;
        }
        else {
          r += "," + route_id;
        }
      }
      if (r != "") {
         gen += "&routes=" + r;
      }

      $("#bookmark").attr("href",gen);
    }

    window.enable_route = enable_route;               

    {% for route in routes %}
        enable_route("{{route}}", {{should_recenter}});
    {% endfor %}


    google.maps.event.addListener(map, 'center_changed', function() {
       generate_page_url();
       reload_selects();
       moved_from_defaults = true;
    });

    google.maps.event.addListener(map, 'zoom_changed', function() {
       generate_page_url();
       merge_stop_predictions(map);
       reload_selects();
    });
    merge_stop_predictions(map);


    {% if buses %}
       draw_buses_continual(map);
    {% endif %}

    $("#running_overlay").overlay({
        onClose: function(x) { running = true; }
    });

    reload_selects();
    generate_page_url();

    function set_center_marker(mpos) {
      if (search_center_marker) {
        search_center_marker.setPosition(mpos);
      }
      else {
        search_center_marker = new google.maps.Marker({
        position: mpos, map: map });
      }
    }

    $('#address').geo_autocomplete({
      geocoder_region: 'us/ma',
      geocoder_types: 'street_address,route,intersection,political,colloquial_area,locality,sublocality,neighborhood,premise,subpremise,postal_code,airport,park',
      geocoder_address: 'true',
      select: function(_event, _ui) {
        if (_ui.item.viewport) {
          map.fitBounds(_ui.item.viewport);
          set_center_marker(_ui.item.viewport.getCenter());
          $("#go_status").text("");
        }
      }
    });

    $("#address").keyup(function(event){
      if(event.keyCode == 13){
        $("#address").autocomplete("close");
        $("#go").click();
      }
    });


    var search_center_marker;
    geocoder = new google.maps.Geocoder();
    $("#go").click(function(event){
      geocoder.geocode( { 'address': $("#address").val() }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setZoom(16);
          var mpos = results[0].geometry.location;
          set_center_marker(mpos);
          map.setCenter(mpos);
          $("#go_status").text("");
        } else {
          $("#go_status").text("need more details");
        }
      });
    });

   }
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20261592-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<style type="text/css">
.ui-autocomplete { overflow-y: auto; width:300px; }
* html .ui-autocomplete { /* IE max- */height: expression( this.scrollHeight > 320 ? "320px" : "auto" ); }
.ui-autocomplete { max-height: 320px; }
.ui-autocomplete li { font-size:10pt; }
</style>
</head>
<body onload="initialize()">
  <div id="all" style="height: 100%">
  <noscript>
     Error: either you have javascript disabled or your browser does
     not support it.  This mapping tool makes extensive use of
     javascript and will not work without it.  Please consider
     enabling javascript or using a more recent browser
  </noscript>
  <div id="options">

    <div id="settings">
      <input type="text" id="address" name="address" size="43" />
      <button id="go">go</button>
      <div id="go_status"></div>
 
      <br>

      <select id="route_adder">
         <option value="">Add (loading)</option>
      </select>

      <select id="route_deler">
         <option value="">Remove (loading)</option>
      </select>

      <a href="/intro">intro</a>
      <a href="#" id="bookmark">permalink</a>

      <br>

      <small><small>
      <input type="checkbox" id="est" checked="{{est}}"> Estimate Locations
      <input type="checkbox" id="snap" checked="{{snap}}"> Snap to Path
      </small></small>

    </div>

    <div id="loading">
      <img src="/static/loading.gif"/>
    </div>

    <div id="adsense">
      <script type="text/javascript"><!--
	google_ad_client = "ca-pub-0341874384016383";
        /* bannerA */
        google_ad_slot = "1830338069";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>


  </div>
<div id="map_canvas"></div>
</div>



<div class="running_overlay" id="running_overlay">
  <div class="running_overlay_details">
    <h3>Updates Paused</h3>
    <p>Close this box to resume updating.</p>
  </div>
</div>

      
</body> </html>
